<!-- <h1>Hello , Welcome to Angular</h1> -->
<!-- <app-list-employee></app-list-employee> -->
 <!-- <app-code></app-code> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-user-list></app-user-list> -->

  <app-rxjs></app-rxjs>
   
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="users" >Users</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" routerLink="contact" >Contact</a>
    </li>
    <li class="nav-item">

      <a class="nav-link" [routerLink]="['/about',{
        outlets:{
        'map': ['location'],
        'feed':['feedback']
        }
      }]">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="product" >Product</a>
    </li>
    
  </ul>

  <router-outlet>

  </router-outlet>
